#navbar-left {
    background-color: #fff;
    padding: 20px;
    color: black;
}

#navbar-right {
    background-color: #f7f5df;
    padding: 20px;
    color: #000;
}

#main-left {
    min-height: 1000px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

#main-left a {
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    font-size: 18px;
}

#main-left a:hover {
    color: orange;
    font-weight: bold;
}

#main-right {
    padding: 50px 0;
    min-height: 850px;
    background-color: #391e22;
}

#article-card {
    max-width: 750px;
    margin: 0 auto;
    background-color: #f7f5df;
}

#article-card a {
    color: #000;
}

#preview {
    padding: 20px;
    min-height: 200px;
    background-color: #f7f5df;
   
}

#createdAt {
    font-weight: bold;
    font-size: 14px;
}

.footer {
    background-color: #f7f5df;    
    padding: 15px;
}

.logo {
    margin-top: -80px;
}

.article-form {
    padding: 0 50px;
}

.article-form label {
    color: white;
}