<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id"
        content="101586641533-90bqqbsuo54inquedna737cr7574sm48.apps.googleusercontent.com">
    <title>Mini WordPress</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/js/vueWysiwyg.js"></script>

    <link rel="stylesheet" href="./assets/css/vueWysiwyg.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>
    <div id="app">
        <navbar-miniwp v-bind:is-login="isLogin" @log-out="logOut" @sign-in-google="signInGoogle"></navbar-miniwp>
        <div class="container col-sm-12">
            <div class="row">
                <left-navbar @show-form="showForm" @show-articles="showArticles" @show-my-articles="showMyArticles">
                </left-navbar>
                <div class="offset-2 col-sm-10" id="main-right">
                    <modal-signin @sign-in="signIn"></modal-signin>
                    <modal-signup @sign-up="signUp"></modal-signup>
                    <homepage v-if="seenHomepage"></homepage>
                    <article-form v-if="seenForm" @submit-article="submitArticle"></article-form>
                    <update-form v-if="seenUpdateForm" v-bind:article-update="articleUpdate"
                        @update-article="updateArticle"></update-form>
                    <all-article v-bind:article-list="articleList" @update-article="showUpdateForm($event)"
                        @delete-article="deleteArticle($event)" v-if="seenArticle"></all-article>
                    <my-article v-bind:my-article-list="myArticleList" @update-article="showUpdateForm($event)"
                        @delete-article="deleteArticle($event)" v-if="seenMyArticle"></my-article>
                </div>
            </div>
        </div>
        <footer-miniwp></footer-miniwp>
    </div>

    <!-- components -->
    <script src="./assets/js/components/navbar.js"></script>
    <script src="./assets/js/components/left-navbar.js"></script>
    <script src="./assets/js/components/homepage.js"></script>
    <script src="./assets/js/components/signInForm.js"></script>
    <script src="./assets/js/components/signUpForm.js"></script>
    <script src="./assets/js/components/allArticle.js"></script>
    <script src="./assets/js/components/myArticle.js"></script>
    <script src="./assets/js/components/cardArticle.js"></script>
    <script src="./assets/js/components/articleForm.js"></script>
    <script src="./assets/js/components/updateForm.js"></script>
    <script src="./assets/js/components/footer.js"></script>
    <!-- components -->

    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="./assets/js/main.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</body>

</html>