<div class="container col-sm-12">
    <div class="row">
        <div class="col-sm-2" id="main-left">
            <center>
                <img src="https://s.w.org/style/images/about/WordPress-logotype-wmark.png" alt="WordPress Logo"
                    height="200px" width="200px" class="logo" /><br>
            </center>
            <br><br><br>
            <a href="#" @click="showForm()">add article</a><br><br>
            <a href="#">my articles</a><br><br>
            <a href="#" @click="showArticles()">show all articles</a>
        </div>

        <div class="offset-2 col-sm-10" id="main-right">

            <!-- login-form -->
            <!-- Modal -->
            <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" id="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="signIn()">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input v-model="email" type="email" class="form-control"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input v-model="password" type="password" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-warning">Sign In</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <br>
                            <div>
                                &nbsp; OR &nbsp;
                                <button type="button" data-dismiss="modal" class="btn btn-warning" data-toggle="modal"
                                    data-target="#signUpModal">
                                    SIGN UP
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal -->
            <!-- login-form -->

            <!-- signup-form -->
            <!-- Modal -->
            <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" id="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Sign Up</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="signUp()">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name</label>
                                    <input v-model="first_name" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input v-model="last_name" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input v-model="email" type="email" class="form-control"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input v-model="password" type="password" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-warning">Sign Up</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal -->
            <!-- signup-form -->

            <!-- article-form -->
            <div class="article-form" v-if="seenForm">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Article Title">Title</label>
                        <input type="text" class="form-control" placeholder="Your Title" style="font-weight:bold"
                            v-model="articleTitle">
                    </div>
                </div>
                <br>
                <label>Content</label>
                <textarea class="form-control" rows="10" v-model="articleContent"></textarea>
                <br>
                <button class="btn btn-danger" @click="submitArticle()">SUBMIT</button>
            </div>
            <!-- article-form -->

            <!-- update-form -->
            <div class="article-form" v-if="seenUpdateForm">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Article Title">Title</label>
                        <input type="text" class="form-control" placeholder="Your Title" style="font-weight:bold"
                            v-model="articleTitleUpdate">
                    </div>
                </div>
                <br>
                <label>Content</label>
                <textarea class="form-control" rows="10" v-model="articleContentUpdate"></textarea>
                <br>
                <button class="btn btn-danger" @click="updateArticle()">SUBMIT</button>
            </div>
            <!-- update-form -->

            <!-- all-articles -->
            <div class="container col-sm-12" v-for="article in articleList" v-if="seenArticle">
                <div class="card" id="article-card" style="width: 68rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{article.title}}
                        </h5>
                        <p class="card-text">
                            {{article.content}}
                        </p>
                        <p class="card-text" id="createdAt">
                            {{article.created_at.slice(0,10)}}
                        </p>
                        <button class="card-link btn btn-danger" @click="showUpdateForm(article._id)">Update
                            Article</button>
                        <button class="card-link btn btn-danger" @click="deleteArticle(article._id)">Delete
                            Article</button>
                    </div>
                </div>
                <br>
            </div>
        </div><br>
        <!-- all-articles -->


    </div>

</div>